:root {
  // COLORS
  --color-primary: #ff7730;
  --color-primary-light: #ffb900;
  --color-primary-dark: #e7711b;

  --color-secondary: #171645;

  --color-gray-light-1: #f5f5f5;
  --color-gray-light-2: #eee;
  --color-gray-dark-1: #777;
  --color-gray-dark-2: #999;
  --color-gray-dark-3: #333;

  // FONT
  --default-font-size: 1.6rem;
  --default-font-family: 'Poppins', sans-serif;

  // LAYOUT
  --sidebar-width: 28rem;
  --header-height: 10vh;
}
