.card {
  border-radius: 2rem;
  background-color: #fff;
  padding: 3rem;

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Title {
    font-size: 2rem;
    font-weight: 600;
  }

  &Options {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &Icon {
      font-size: 1.5rem;
    }
  }

  &Body {
    margin-top: 2rem;
  }
}
